{% extends 'base.html' %}

{% block body %}

    <script type="text/javascript">
    function inNumber(){
        if(event.keyCode<48 || event.keyCode>57){
           event.returnValue=false;
        }
    }
    </script>

<h2>{{ the_title }}</h2>

<form method="POST" action='/search4'>
	<table>
		<tr>			
				<td>회차</td>
				<td>추첨일</td>
				<td>1th N</td>
				<td>2th N</td>
				<td>3th N</td>
				<td>4th N</td>
				<td>5th N</td>
				<td>6th N</td>
				<td>Services N</td>
		</tr>
		{% for data_row in  the_results %}
			<tr>
				{% for item in data_row %}
					<td>{{item}}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</form>

{% endblock %}